<div class="body-sec">
  <%= form_with(model: game) do |form| %>
    <% Bag.find(game.bag_id).items do |item| %>
        <div class="form-check">
            <%= form.check_box item, class: "form-check-input"%>
            <label class="form-check-label" for="defaultCheck1">
                <%# TODO: renderer for items %>
                <%= item.to_s%>
            </label>
        </div>
    <% end %>
    <div class="actions">
      <%= form.submit "Load Cup", class: "btn btn-light" %>
    </div>
  <% end %>
</div>
