<div class="body-sec">
  <%= form_with url: game_load_path, method: :post do |form| %>
    <% session[:game].get_bag_items.each do |item| %>
        <div class="form-check">
            <%= form.check_box session[:game].get_bag_items.find_index(item), class: "form-check-input"%>
            <label class="form-check-label" for="defaultCheck1">
                <%# TODO: renderer for items %>
                <%= item.to_s%>
            </label>
        </div>
    <% end %>
    <div class="actions">
      <%= form.submit "Load Cup", class: "btn btn-light" %>
    </div>
  <% end %>
</div>
