<%= content_for :game_info, @info %>
<% content_for :game_content do %>
    <div class="container">
        <h5>Please Select items from your bag</h5>
        <% @game.player.bag%>
    </div>
<% end %>
<%= render template: "layouts/application" %>