<%= content_for :game_info, @info %>
<% content_for :game_content do %>
    <div class="container">
        <h5>Please Select items from your bag</h5>
        <%= render partial: 'item_select', locals: {path: games_path, type: 'checkbox'} %>
    </div>
<% end %>
<%= render template: "layouts/application" %>